<div class="p-5 mt-5 font-monospace text-uppercas">

    <h1>
        Argumentos de entrada: <%= info.argv %>
    </h1>
    <br>
    <h1>
        Sistema operativo: <%= info.platform %>
    </h1>
    <br>
    <h1>
        Versión de node.js: <%= info.version %>
    </h1>
    <br>
    <h1>
        Memoria total resevada: <%= info.memory %>
    </h1>
    <br>
    <h1>
        Path de ejecución: <%= info.executable %>
    </h1>
    <br>
    <h1>
        Process id: <%= info.pid %>
    </h1>
    <br>
    <h1>
        Carpeta del proyecto: <%= info.path %>
    </h1>
    <br>
    <h1>
        Número de procesadores: <%= info.cpus %>
    </h1>

</div>